@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
header {
  background-color: #4d3e17;
  color: #e7ab3d;
}
h1 {
  text-align: center;
  font-family: "Cabin", sans-serif;
}
h2 {
  font-family: "Cabin", sans-serif;
  font-size: large;
  font-weight: bold;
}
h3 {
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  font-size: small;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 89%;
}
.homelogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
#logo {
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  font-family: "Varela Round", sans-serif;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding-left: 10px;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
nav ul li {
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 5px;
}
nav ul li a {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 8px 0;
}
section {
  padding: 0px 20px 0px 20px;
}
footer {
  border-top: 1px solid #ccc;
  margin: 0px 10px 0px 10px;
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
}
table,
td,
th {
  border: 1px solid black;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.dropbtn {
  background-color: #e7ab3d;
  color: #4d3e17;
  padding: 16px;
  font-size: 16px;
  border: none;
  align-content: center;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}